.apkcont {
  background-image: url("../../image/bg.svg");
  height: 100vh;
  width: 100%;
  background-size: contain;
  margin: 0;
  padding: 0;
  font-family: Product Sans;
}

.dashboard {
  width: 100%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 78px;
}

.admin-card {
  width: 95%;
  height: 100%;
  margin-top: 100%!important; 
}
